{% extends 'orion/base.html' %} 

{% block title %}ООО Орион | О нас{% endblock title %} 

{% block content %}
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>УВАЖАЕМЫЕ КОЛЛЕГИ И ПАРТНЕРЫ!</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide about_Carousel" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <p>
                                                    От имени ООО «Орион» в адрес
                                                    наших постоянных клиентов от
                                                    неустановленных лиц
                                                    направляются договоры
                                                    поставки и счета на оплату,
                                                    с указанием наименования,
                                                    юридического адреса, ИНН и
                                                    ОГРН нашей организации, но с
                                                    указанием банковских
                                                    реквизитов (счетов), которые
                                                    не были открыты нами в
                                                    нескольких банках.
                                                    Убедительная просьба не
                                                    оплачивать и не перечислять
                                                    денежные средства по
                                                    указанным счетам. При
                                                    поступлении документов
                                                    (договоров, счетов на
                                                    оплату) с неизвестных
                                                    адресов электронной почты
                                                    быть бдительными и проверять
                                                    действительность и
                                                    подлинность направленных и
                                                    полученных документов по
                                                    контактам: адресам
                                                    электронной почты -
                                                    shafis@mail.ru,
                                                    orion18r@gmail.com телефонам
                                                    - +7 (34130) 6-62-14, +7
                                                    (34130) 6-62-11.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="test_box">
                                                <p>
                                                    16 ноября 2020 года ООО
                                                    «Орион» вступает в
                                                    Национальный проект
                                                    «Производительность труда»,
                                                    а уже 11 июня 2021 года на
                                                    участке гнутоклееных деталей
                                                    стартует проект «Адресная
                                                    поддержка повышения
                                                    производительности труда на
                                                    предприятиях» при участии
                                                    Регионального центра
                                                    компетенций Удмуртской
                                                    Республики. За 6 месяцев
                                                    работы команде проекта
                                                    удалось достигнуть
                                                    сокращения времени
                                                    производственного цикла
                                                    гнутоклееных деталей на 36%,
                                                    снизить запасы
                                                    незавершенного производства
                                                    на 13% и на треть увеличить
                                                    выработку персонала. Объёмы
                                                    производства гнутоклееных
                                                    деталей увеличились с 750 до
                                                    950 кубометров в месяц.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
